# configuração para execução de tarefas

#action=BackgroundElimination
action=EdgeDetection


# **** Informação para o BackgroundElimination
#backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
backgroundelimination_folderDest=/home/mertins/temp/SEimg1



# **** Informação para o EdgeDetection 
#edgedetection_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
edgedetection_file=/home/mertins/temp/SEimg1/FRONT_59b97a303dbc0e51496444b8_background.png
edgedetection_folderDest=/home/mertins/temp/SEimg1
edgedetection_maxgeneration=1
edgedetection_neighborhood=vonneumann
edgedetection_threshold=70
