# configuração para execução de tarefas

#action=BackgroundElimination
#action=EdgeDetection
action=ExecuteWaterfall

# **** Informação para o BackgroundElimination
#backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
backgroundelimination_folderDest=/home/mertins/temp/SEimg1
backgroundelimination_savefile=true



# **** Informação para o EdgeDetection 
edgedetection_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
#edgedetection_file=/home/mertins/temp/SEimg1/FRONT_59b97a303dbc0e51496444b8_background.png
edgedetection_folderDest=/home/mertins/temp/SEimg1
edgedetection_savefile=true
edgedetection_maxgeneration=1
edgedetection_neighborhood=vonneumann
edgedetection_threshold=70


# **** Informação para o Waterfall 
waterfall_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
#waterfall_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
waterfall_folderDest=/home/mertins/temp/SEimg1


#waterfall_file=/home/mertins/temp/SEimg2/carros-estacionados-16886305.jpg
#waterfall_folderDest=/home/mertins/temp/SEimg2
