# configuração para execução de tarefas

#action=BackgroundElimination
#action=EdgeDetection
action=ExecuteWaterfall

# **** Informação para o BackgroundElimination
#backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b98f8b3dbc0e5149b98ffc.png
#backgroundelimination_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
backgroundelimination_folderDest=/home/mertins/temp/SEimg1
backgroundelimination_savefile=true



# **** Informação para o EdgeDetection 
#edgedetection_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
edgedetection_file=/home/mertins/temp/SEimg1/origem/FRONT_59b98f8b3dbc0e5149b98ffc.png
#edgedetection_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
edgedetection_folderDest=/home/mertins/temp/SEimg1
edgedetection_savefile=true
edgedetection_maxgeneration=5
edgedetection_neighborhood=vonneumann
edgedetection_threshold=200


# **** Informação para o Waterfall  aval=file/folder
waterfall_aval=folder
waterfall_originfolder=/home/mertins/temp/imgs4
#waterfall_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97ed03dbc0e5149768bac.png
waterfall_file=/home/mertins/temp/SEimg1/origem/FRONT_59b98f8b3dbc0e5149b98ffc.png
#waterfall_file=/home/mertins/temp/SEimg1/origem/FRONT_59b97a303dbc0e51496444b8.png
waterfall_folderDest=/home/mertins/temp/SEimg4
#waterfall_folderDest=/home/mertins/temp/SEimg1


#waterfall_file=/home/mertins/temp/SEimg2/carros-estacionados-16886305.jpg
#waterfall_folderDest=/home/mertins/temp/SEimg2
